body {
	font-family: 'Roboto' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

.errors {
	ul {
		padding-top: 10px;
	}
}

.stats {
	margin-top: 30px;
	margin-bottom: 50px;

	.text {
		font-size: 28px;
		span {
			font-size: 200%;
		}
	}

	.link_results {
		font-weight: 500;
	}
}

.exam_results {
	margin-top: 30px;
	margin-bottom: 50px;
}